name: Deploy to Vercel
on:
  push:
    branches:
      - main
jobs:
  deploy:
    if: ${{ secrets.VERCEL_DEPLOY_HOOK_URL != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK_URL }}"
